USE [master]
GO
/****** Object:  Database [PRN222-Final]    Script Date: 7/15/2025 3:55:08 PM ******/
CREATE DATABASE [PRN222-Final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN222-Final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRN222-Final.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN222-Final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRN222-Final_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN222-Final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN222-Final]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[name] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](100) NULL,
	[role_id] [int] NULL,
	[status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Status]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Status](
	[id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[content] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[status_id] [int] NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment_Status]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment_Status](
	[id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[date] [datetime] NOT NULL,
	[price] [int] NOT NULL,
	[status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Item]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_item_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Status]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Status](
	[id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[picture] [nvarchar](50) NULL,
	[description] [nvarchar](100) NULL,
	[category_id] [int] NULL,
	[status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Configuration]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Configuration](
	[product_item_id] [int] NOT NULL,
	[variation_option_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_item_id] ASC,
	[variation_option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Item]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[import_price] [int] NULL,
	[selling_price] [int] NULL,
	[discount] [decimal](10, 2) NULL,
	[status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Item_Status]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Item_Status](
	[id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Status]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Status](
	[id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[rating_value] [int] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Revenue_Log]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Revenue_Log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[total_revenue] [int] NOT NULL,
	[total_cost] [int] NOT NULL,
	[total_profit] [int] NOT NULL,
	[date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Name]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Name](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variation]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variation_Option]    Script Date: 7/15/2025 3:55:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variation_Option](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[variation_id] [int] NULL,
	[value] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [email], [password], [name], [phone], [address], [role_id], [status_id]) VALUES (1, N'admin@gmail.com', N'jGl25bVBBBW96Qi9Te4V37Fnqchz/Eu4qB9vKrRIqRg=', N'admin', NULL, NULL, 1, 1)
INSERT [dbo].[Account] ([id], [email], [password], [name], [phone], [address], [role_id], [status_id]) VALUES (4, N'datltce180532@fpt.edu.vn', N'rJaJ4ickJwheNbnT4+i+2IyzQ0gotDuG/AWWytTG4nA=', N'hehe', N'123456789', N'hehe', 2, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Account_Status] ([id], [name]) VALUES (1, N'active')
INSERT [dbo].[Account_Status] ([id], [name]) VALUES (2, N'banned')
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'hehe')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'haha')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'hihi')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Comment_Status] ([id], [name]) VALUES (1, N'visible')
INSERT [dbo].[Comment_Status] ([id], [name]) VALUES (2, N'hidden')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [user_id], [date], [price], [status_id]) VALUES (1, 4, CAST(N'2025-07-14T23:14:18.453' AS DateTime), 12900000, 1)
INSERT [dbo].[Order] ([id], [user_id], [date], [price], [status_id]) VALUES (2, 4, CAST(N'2025-07-15T10:21:21.520' AS DateTime), 7300000, 1)
INSERT [dbo].[Order] ([id], [user_id], [date], [price], [status_id]) VALUES (3, 4, CAST(N'2025-07-15T10:21:58.657' AS DateTime), 6100000, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Item] ON 

INSERT [dbo].[Order_Item] ([id], [order_id], [product_item_id], [quantity], [price]) VALUES (1, 3, 1, 1, 6100000)
INSERT [dbo].[Order_Item] ([id], [order_id], [product_item_id], [quantity], [price]) VALUES (2, 4, 2, 1, 600000)
INSERT [dbo].[Order_Item] ([id], [order_id], [product_item_id], [quantity], [price]) VALUES (3, 5, 2, 1, 600000)
SET IDENTITY_INSERT [dbo].[Order_Item] OFF
GO
INSERT [dbo].[Order_Status] ([id], [name]) VALUES (1, N'pending')
INSERT [dbo].[Order_Status] ([id], [name]) VALUES (2, N'approved')
INSERT [dbo].[Order_Status] ([id], [name]) VALUES (3, N'rejected')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [picture], [description], [category_id], [status_id]) VALUES (5, N'hehe', N'/SharedImages/hehe_Miku_From_The_Windows_SEKAI.jpg', N'hehe', 1, 1)
INSERT [dbo].[Product] ([id], [name], [picture], [description], [category_id], [status_id]) VALUES (6, N'haha', N'/SharedImages/haha_ReLife.jpeg', N'haha', 2, 1)
INSERT [dbo].[Product] ([id], [name], [picture], [description], [category_id], [status_id]) VALUES (9, N'hihi', N'/SharedImages/hihi_ZZZ_1.5_Story_Art.png', N'hihi', 3, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Product_Configuration] ([product_item_id], [variation_option_id]) VALUES (1, 1)
INSERT [dbo].[Product_Configuration] ([product_item_id], [variation_option_id]) VALUES (1, 6)
INSERT [dbo].[Product_Configuration] ([product_item_id], [variation_option_id]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Product_Item] ON 

INSERT [dbo].[Product_Item] ([id], [product_id], [quantity], [import_price], [selling_price], [discount], [status_id]) VALUES (1, 5, 3, 4400000, 6100000, CAST(0.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Product_Item] ([id], [product_id], [quantity], [import_price], [selling_price], [discount], [status_id]) VALUES (2, 6, 3, 300000, 600000, CAST(0.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Product_Item] ([id], [product_id], [quantity], [import_price], [selling_price], [discount], [status_id]) VALUES (3, 6, 5, 500000, 700000, NULL, 1)
SET IDENTITY_INSERT [dbo].[Product_Item] OFF
GO
INSERT [dbo].[Product_Item_Status] ([id], [name]) VALUES (1, N'active')
INSERT [dbo].[Product_Item_Status] ([id], [name]) VALUES (2, N'inactive')
GO
INSERT [dbo].[Product_Status] ([id], [name]) VALUES (1, N'available')
INSERT [dbo].[Product_Status] ([id], [name]) VALUES (2, N'unavailable')
INSERT [dbo].[Product_Status] ([id], [name]) VALUES (3, N'out_of_stock')
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([id], [user_id], [product_id], [rating_value], [created_at]) VALUES (1, 4, 6, 5, CAST(N'2025-07-15T15:36:36.383' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
SET IDENTITY_INSERT [dbo].[Role_Name] ON 

INSERT [dbo].[Role_Name] ([id], [name]) VALUES (1, N'admin')
INSERT [dbo].[Role_Name] ([id], [name]) VALUES (2, N'customer')
INSERT [dbo].[Role_Name] ([id], [name]) VALUES (3, N'admin')
SET IDENTITY_INSERT [dbo].[Role_Name] OFF
GO
SET IDENTITY_INSERT [dbo].[Variation] ON 

INSERT [dbo].[Variation] ([id], [name]) VALUES (1, N'RAM')
INSERT [dbo].[Variation] ([id], [name]) VALUES (2, N'STORAGE')
SET IDENTITY_INSERT [dbo].[Variation] OFF
GO
SET IDENTITY_INSERT [dbo].[Variation_Option] ON 

INSERT [dbo].[Variation_Option] ([id], [variation_id], [value]) VALUES (1, 1, N'4GB')
INSERT [dbo].[Variation_Option] ([id], [variation_id], [value]) VALUES (2, 2, N'128GB')
INSERT [dbo].[Variation_Option] ([id], [variation_id], [value]) VALUES (4, 1, N'8GB')
SET IDENTITY_INSERT [dbo].[Variation_Option] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__AB6E616443B33DF3]    Script Date: 7/15/2025 3:55:08 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_UserProduct]    Script Date: 7/15/2025 3:55:08 PM ******/
ALTER TABLE [dbo].[Rating] ADD  CONSTRAINT [UC_UserProduct] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role_Name] ([id])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Account_Status] ([id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[Comment] ([id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Comment_Status] ([id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Order_Status] ([id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Order_Item]  WITH CHECK ADD FOREIGN KEY([product_item_id])
REFERENCES [dbo].[Product_Item] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Product_Status] ([id])
GO
ALTER TABLE [dbo].[Product_Configuration]  WITH CHECK ADD FOREIGN KEY([product_item_id])
REFERENCES [dbo].[Product_Item] ([id])
GO
ALTER TABLE [dbo].[Product_Configuration]  WITH CHECK ADD FOREIGN KEY([variation_option_id])
REFERENCES [dbo].[Variation_Option] ([id])
GO
ALTER TABLE [dbo].[Product_Item]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product_Item]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[Product_Item_Status] ([id])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Revenue_Log]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Variation_Option]  WITH CHECK ADD FOREIGN KEY([variation_id])
REFERENCES [dbo].[Variation] ([id])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD CHECK  (([rating_value]>=(1) AND [rating_value]<=(5)))
GO
USE [master]
GO
